<div class="app-layout">
  <div class="top">
    <!-- Avatar   -->
    <div class="frame">
      <img src="assets/test-avatar.jpg" alt="">
    </div>

    <!--  Searching..   -->
    <div class="searching">
      <span class="material-symbols-outlined">search</span>
      <input type="text">
    </div>

    <!--  More  -->
    <dropdown icon="menu">
      <ul class="dropdown-list">
        <li><span class="material-symbols-outlined">settings</span> Settings</li>
        <li><span class="material-symbols-outlined">logout</span> Logout</li>
      </ul>
    </dropdown>

  </div>
  <div class="app-content-layout">
    <div class="column-left">
      <div>
        projects
      </div>
    </div>
    <div>
      <div class="posts-list">
        <post *ngFor="let post of posts" [post]="post" (comment)="comment($event)"></post>
      </div>
    </div>
    <div class="column-right">

    </div>
  </div>
</div>
