<div>
  <div>
    <div class="frame">
      <img src="./assets/{{comment?.author?.avatar}}" alt="">
    </div>
  </div>
  <div>
    <div class="comment">
      <div class="author">{{comment?.author?.name}} {{comment?.author?.surname}}</div>
      <div class="content">{{comment?.content}}</div>
    </div>
    <div *ngIf="showAnswers" class="sub-comments">
      <comment *ngFor="let subComment of comment?.subComments" [comment]="subComment"></comment>
    </div>
    <button *ngIf="comment?.subComments?.length && !showAnswers" (click)="showAnswers=!showAnswers" class="tertiary-button">Show answers</button>
    <button *ngIf="showAnswers" (click)="showAnswers=!showAnswers" class="tertiary-button">Hide answers</button>
  </div>
</div>
