@import "projects/common/src/lib/styles/shadow";
@import "projects/common/src/lib/styles/layouts/app-layout";
@import "projects/common/src/lib/components/dropdown/dropdown.component";

.posts-list {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top {
  width: 100%;
  background-color: white;
  //height: 2rem;
  display: flex;
  justify-content: space-between;
  //flex-direction: column;
  //background-color: grey;
  @include shadow;
  padding: 1rem 2rem;

  .searching {

    width: 30%;
    display: flex;
    align-items: center;
    position: relative;

    span {
      position: absolute;
      left: 0.5rem;
    }

    input {
      width: 100%;
      height: 2rem;
      border-radius: .4rem;
      padding: 0.1rem 2.3rem;
      border: 1px solid $smoke-black;
      outline: none;
    }
  }




}


.column-left, .column-right {
}


.frame {
  width: 2.5rem;
  height: 2.5rem;

  min-width: 16px;
  min-height: 16px;
  overflow: hidden;
  border-radius: 50%;

  img {
    width: 100%;
    object-fit: contain;
  }

}
