<div>
  <!-- Info: -->
  <div class="top">
    <!-- Avatar, name, surname and date   -->
    <div class="author">
      <div class="frame">
        <img src="./assets/{{post?.author?.avatar}}" alt=" ">
      </div>
      <div>
        <div>{{post?.author?.name}} {{post?.author?.surname}}</div>
        <div class="date">{{post?.date}}</div>
      </div>
    </div>
    <button>
      <span class="material-symbols-outlined">more_horiz</span>
    </button>
  </div>
  <!-- Content:  -->
  <div class="content">
    {{post?.content}}
  </div>

  <!-- Interaction  -->
  <div class="interaction">
    <button>
      <span class="material-symbols-outlined">favorite</span>
    </button>
    <!--    <button>-->
    <!--      <span class="material-symbols-outlined">favorite</span>-->
    <!--    </button>-->
    <button>
      <span class="material-symbols-outlined">comment</span>
    </button>
  </div>

  <div class="comment-creator">
    <div class="frame">
      <img src="./assets/{{post?.author?.avatar}}" alt=" ">
    </div>
    <input [(ngModel)]="commentCreatorContent" (keyup.enter)="addComment()" type="text">
  </div>


  <!-- Comments: -->
  <div *ngIf="showComments" class="comments">
    <comment *ngFor="let comment of post?.comments" [comment]="comment"></comment>
  </div>

  <button class="tertiary-button" *ngIf="!showComments" (click)="showComments = !showComments">Show comments</button>
  <button class="tertiary-button" *ngIf="showComments" (click)="showComments = !showComments">Hide comments</button>

</div>

